@import '../../../styles.scss';

nav{
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: $negroMenu;
    color: white;
    z-index: 999;
}
.logo{
    font-size: 40px;
    margin-right: 20px;
    color: $verdePrincipal;
}
.row{
    height: 80px;
}
.principal i{
    padding: 0 10px;
    font-size: 30px;
}
.principal a{
    color:white;
}
.perfil i{
    padding: 0 10px;
    font-size: 20px;
}
.perfil i:hover, .principal i:hover{
    color: $verdePrincipal;
    cursor: pointer;
}
.resultados{
  position: absolute;
  width: 241px;
  height: auto;
  background-color: white;
  z-index: 999;
  margin-top: 41px;
}
.resultados p{
  color:$negroMenu;
  padding:10px 10px;
  border-bottom: 1px solid #eee;
}
