<nav>
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="buscador d-flex flex-row align-items-center">
        <i class="fab fa-speaker-deck logo"></i>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-search"></i></div>
          </div>
          <input type="text" class="form-control" name="buscador" #buscador [(ngModel)]="letra" (keyup)="busqueda(letra)" />
          <div class="resultados" id="resultados" style="display:{{display}}" >
            <table>
              <tr *ngFor="let element of nombres">
                <td class="nombreBusqueda">{{element.nombre}}</td>
                <td><a routerLink="/perfil/{{element.id}}"><button class="btn btn-outline-success visitar" type="button">Visitar</button></a></td>
                <td><button class="btn btn-outline-success visitar" (click)="follow(element.id)" type="button" *ngIf="element.follow === 'no'">Seguir</button>
                <button class="btn btn-outline-danger" (click)="unfollow(element.id)" type="button" *ngIf="element.follow === 'yes'">No seguir</button></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="principal d-flex align-items-center">
        <a routerLink="/home"><i class="fas fa-igloo"></i></a>
        <a routerLink="/users"><i class="fas fa-users"></i></a>
        <a routerLink="/perfil/{{user['id']}}"><i class="fas fa-user-astronaut"></i></a>
      </div>
      <div class="perfil d-flex flex-row align-items-center">
        <h6>{{user['nombre']}}</h6>
        <i class="fas fa-bell"></i>
        <a (click)="cerrarSesion()"><i class="fas fa-sign-out-alt"></i></a>
      </div>
    </div>
  </div>
</nav>
