@import '../../../styles.scss';

nav{
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: $negroMenu;
    color: white;
    z-index: 999;
}
.logo{
    font-size: 40px;
    margin-right: 20px;
    color: $verdePrincipal;
}
.row{
    height: 80px;
}
.principal i{
    padding: 0 10px;
    font-size: 30px;
}
.principal a{
    color:white;
}
.perfil i{
    padding: 0 10px;
    font-size: 20px;
}
.perfil i:hover, .principal i:hover{
    color: $verdePrincipal;
    cursor: pointer;
}
.resultados{
  position: absolute;
  width: 430px;
  height: auto;
  background-color: $negroMenu;
  z-index: 999;
  margin-top: 41px;
}
.resultados td{
  padding:10px 10px;
  border-bottom: 1px solid #eee;
  color: white;
}
.nombreBusqueda{
  width: 180px;
  text-transform: capitalize;
}
.perfil h6{
  text-transform: capitalize;
}
.visitar {
  height: 38px;
  border-color: $verdePrincipal;
  color: $verdePrincipal;
  width: 95px;
}

.visitar:hover{
  background-color: $verdePrincipal;
  color: white;
}
