<div class="modal fade" id="busqueda" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p *ngFor="let nombre of nombres">{{nombre.nombre}}</p>
      </div>
    </div>
  </div>
</div>
<app-add-post></app-add-post>
<nav>
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="buscador d-flex flex-row align-items-center">
        <i class="fab fa-speaker-deck logo"></i>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-search"></i></div>
          </div>
          <input type="text" ng class="form-control" name="buscador" id="buscador" [(ngModel)]="letra" (keyup)="busqueda(letra)" />
          <div class="resultados" id="resultados" style="display:{{display}}" ><p *ngFor="let element of nombres">{{element.nombre}}</p></div>
        </div>
      </div>
      <div class="principal d-flex align-items-center">
        <a href="/home"><i class="fas fa-igloo"></i></a>
        <a href="/users"><i class="fas fa-users"></i></a>
        <a href="/perfil"><i class="fas fa-user-astronaut"></i></a>
      </div>
      <div class="perfil d-flex flex-row align-items-center">
        <h6>{{user['nombre']}}</h6>
        <a data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus"></i></a>
        <i class="fas fa-bell"></i>
        <a (click)="cerrarSesion()"><i class="fas fa-sign-out-alt"></i></a>
      </div>
    </div>
  </div>
</nav>
