<app-add-post></app-add-post>
<nav>
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="buscador d-flex flex-row align-items-center">
        <i class="fab fa-speaker-deck logo"></i>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-search"></i></div>
          </div>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="principal d-flex align-items-center">
        <a href="/home"><i class="fas fa-igloo"></i></a>
        <i class="fas fa-users"></i>
        <i class="fas fa-user-astronaut"></i>
      </div>
      <div class="perfil d-flex flex-row align-items-center">
        <h6>Nombre</h6>
        <a data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus"></i></a>
        <i class="fas fa-bell"></i>
        <i class="fas fa-sign-out-alt"></i>
      </div>
    </div>
  </div>
</nav>
