@import '../../../styles.scss';

nav{
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: $negroMenu;
    color: white;
    padding: 0 15px;
}
.buscador i{
    font-size: ;
}