@import '../../../styles.scss';

.posts {
  margin-top: 100px;
}

.imagen-post img {
  width: 100%;
  max-height: 500px;
  min-height: 350px;
}

.imagen-post {
  width: 100%;
  min-height: 350px;
  max-height: 500px;
  padding: 10px 0;
}

.card-deck {
  padding: 15px 0;
}

.card-body p {
  margin: 0;
}

.fecha {
  font-size: 12px;
  margin-top: 10px !important;
}

.contadores {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.likes {
  padding-top: 15px;
}

.likes input {
  margin-left: 10px;
  border-radius: 5px;
  width: 80%;
}

.contacts {
  margin-top: 115px;
  width: 365px;
}
.contacts button{
  margin: 10px 0;
}
.enviar {
  height: 38px;
  border-color: $verdePrincipal;
  color: $verdePrincipal;
  margin-left: 10px;
}

.enviar:hover, .formComment button:hover{
  background-color: $verdePrincipal;
  color: white;
}
.imagen-perfil{
    margin-right: 10px;
    border-radius: 50%;
    width: 60px;
}
.modal-open{
  display: none;
}
.imagen-comment{
  margin-right: 10px;
  border-radius: 50%;
  width: 40px;
}
.commentarios{
  display: none;
}
.comments{
  padding: 10px 10px;
  border: 1px solid #eee;
  margin: 10px 0;
  border-radius: 5px;
}
.formComment{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.formComment input{
  width: 80%;
}
.formComment button{
  height: 38px;
  border-color: $verdePrincipal;
  color: $verdePrincipal;
  padding: 0 30px;
}
/* .custom-file-input:lang(en)~.custom-file-label::after {
  content: 'Archivo';
} */
textarea{
  margin-bottom: 10px;
}
.notification{
  position: fixed;
  display: none;
  top: 115px;
  right: 20%;
  z-index: 999;
  height: auto;
  background: $verdePrincipal;
  color: white;
}
.notification p{
  margin: 0;
  padding:15px 35px;
}
.fas .fa-check{
  color: $verdePrincipal;
  margin-right: 10px;
}
.container{
  position: relative;
}
