@import '../../../styles.scss';
.container-fluid{
    height: 100vh;
    background-size: contain;
    background: url('src/assets/img/skate.png') repeat center;
}
.formulario{
    background-color: white;
    margin-top: 10%;
    margin-left:3%;
    border-radius: 10px;
    padding: 20px 20px;
}
.formulario input{
    margin: 0;
}
.input-field{
    margin: 0 !important;
}
.genero{
    margin-top: 20px;
}
.registro{
    background-color: $verdePrincipal;
    border:none;
}
.notification{
  position: fixed;
  display: none;
  top: 115px;
  right: 10%;
  z-index: 999;
  height: auto;
  background: $negroMenu;
  max-width: 600px;
}
.notification p{
  margin: 0;
  padding:15px 35px;
  color: white;
}
