<app-menu></app-menu>
<div class="container-fluid">
    <div class="row">
      <form class="formulario col-xl-4 col-lg-4 col-md-4">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Nombre</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Apellidos</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Email</label>
          <input type="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Contraseña</label>
          <input type="password" class="form-control">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">Edad</label>
            <input type="number" class="form-control">
          </div>
          <div class="form-group col-md-6">
            <label for="inputState">Sexo</label>
            <select id="inputState" class="form-control">
              <option selected>Elige...</option>
              <option>Hombre</option>
              <option>Mujer</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary registro">Registrarse</button>
      </form>
    </div>
</div>
