<app-login></app-login>    
    <nav class="d-flex justify-content-between align-items-center">
        <div class="logo">
            <i class="fab fa-speaker-deck"></i>
        </div>
        <div class="titulo">
            <h1>SOCIALIZE</h1>
        </div>
        <div class="botones">
            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#login">Login</button>
            <button type="button" class="btn btn-outline-success">Registro</button>
        </div>
</nav>